/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 60px;
}

h2 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 2rem
}

.blue-btn {
    background-color: #0061ff;
    padding: 0.2rem 0.8rem;
    color: white;
    text-decoration: none;
}

/* HEADER */
header {
    background-color: #B4D0E7;
}
/* Nav */
nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-side {
    width: 30%;
}

.nav-side ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nav-side a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}

/* Hero */
.hero {
    width: 70%;
    margin: 0 auto;
    min-height: 570px;
}

.hero h1 {
    margin-top: 3rem;
}

.hero-relative{
    position: relative;
}

.main-section {
    width: 100%;
    position: absolute;
    top: 10rem;
    display: flex;
}

.hero-left {
    width: 30%;
    font-size: 15px;
}

.hero-left p {
    margin-bottom: 2rem;
}

 /* .hero-left a {
    text-decoration: none;
} */

.hero-left i {
    margin-top: 4rem;
    font-size: 35px;
}
.margin-top {
    margin-top: 2rem;
    display: block;
}

.hero-right {
    width: 70%;
}

.hero-right img {
    max-width: 100%;
}
/* MAIN */
.container {
    width: 65%;
    margin: 8rem auto;
    /* Debug */
    min-height: 500px;
    /* background-color: green; */
}

/* Section-1 */
.section-1 {
    /* Debug */
    min-height: 750px;
    /* border: 2px solid black; */
}

.input {
    font-size: 15px;
}

input {
    margin-right: 0.3rem;
}

.right-input {
    margin-left: 0.5rem;
}

.plans {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin: 2rem auto;
    /* Debug */
    min-height: 250px;
}

.plans a {
    text-decoration: none;
 }

.plans ul {
    list-style-type: none;
}

.col-plan {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    /* Debug */
    min-height: 700px;
}

.title-plan {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    padding: 0.5rem;
}

.title-plan i {
    margin-right: 0.3rem;
}

.single-plan {
    padding: 1rem;
}

.single-plan h3 {
    margin-bottom: 1rem;
}

.single-plan p {
    margin-top: 0.5rem;
    font-size: 13px;
}

.single-plan li {
    margin-bottom: 0.7rem;
    font-size: 13px;
}

.price {
    font-weight: bold;
    font-size: 13px;
}

.grey {
    color: grey;
}

.details-plan {
    margin-top: 1.5rem;
}

.cta {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
}

.cta .blue-btn {
    font-size: 13px;
    width: 100%;
    padding: 0.5rem;
}

.cta p {
    margin-top: 1rem;
}

a.buy-now {
    color: blue;
    text-decoration: underline;
 }

.single-plan hr {
    margin-top: 2rem;
    width: 20%;
    color: grey;
}

.main-points {
    margin-top: 2rem;
}

.main-points i {
    color: blue;
}

.main-points-list {
    font-weight: bold;
}

.enterprise {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.bottom-enterprise {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.left-enterprise {
    width: 60%;
}

.left-enterprise h6 {
    margin-top: 1rem;
}

.left-enterprise p {
    font-size: 13px;
    margin-top: 2rem;
}
.right-enterprise {
    width: 40%;
    text-align: right;
}
/* Section-2 */
.section-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    /* Debug */
    min-height: 600px;
    border: 2px solid black;
}

.photo-sec-2 {
    width: 60%;
    /* Debug */
    background-color: lightblue;
    min-height: 400px;
}

.find-partner {
    width: 38%;
    /* Debug */
    background-color: lightblue;
    min-height: 400px;
}

/* Section-3 */
.section-3 {
    margin-top: 5rem;
    /* Debug */
    min-height: 600px;
    border: 2px solid black;
}

.row-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin: 2rem auto;
}

.col-3 {
    width: calc(100% / 3 - 1rem);
    /* Debug */
    min-height: 700px;
    background-color: gray;
}

/* Section-4 */
.section-4 {
    margin-top: 5rem;
        /* Debug */
        min-height: 200px;
        border: 2px solid black;
}

.section-4 h2 {
    width: 40%;
}

/* Larger section */
.larger-section {
    width: 100%;
    /* Debug */
    border: 2px solid black;
    background-color: #B4D0E5;
    min-height: 800px;
}

.companies {
    display: flex;
    /* width: 100%; */
    /* Debug */
    min-height: 600px;
    border: 2px solid black;
}

.side-companies {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    /* Debug */
    /* background-color: red; */
}

.inner-companies {
    width: 50%;
    /* Debug */
    background-color: beige;
    min-height: 300px;
    border: 2px solid black;
}

.central-companies {
    width: 33%;
    /* Debug */
    background-color: white;
    min-height: 300px;
    border: 2px orange solid;
}

.free-trial {
    width: 65%;
    margin: 0 auto;
    padding: 4rem 0;
    display: flex;
    justify-content: space-between;
}

.amaranth {
    width: 50%;
    color: #610A11;
}

.free-trial a {
    border: 1px solid black;
    background-color: white;
}

/* Faq */
.faq {
    /* Debug */
    min-height: 500px;
    background-color: lightblue;
    border: 2px solid black;
}

/* Footer */
footer {
    background-color: black;
    /* min-height: 400px; */
}

.footer {
    width: 75%;
    margin: 0 auto;
}

/* Footer-top */
.footer-top {
    padding: 5rem 0 ;
    display: flex; 
    flex-wrap: wrap;
    gap: 1rem;
}

.footer-top ul {
    list-style-type: none;
}

.footer-top li {
    color: white;
}

.footer-list {
    width: calc(100% / 5 - 1rem) ;
}

hr.white {
    color: white;
    width: 12%;
}

/* Footer-bottom */
.footer-bottom {
    padding: 3rem 0;
}

.language {
        /* Debug */
        min-height: 50px;
        width: 12%; 
        background-color: lightblue;
}