/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 60px;
    margin-bottom: 2rem;
}

h2 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 2rem
}

#blue-btn {
    background-color: #0061ff;
    padding: 0.2rem 0.8rem;
    color: white;
    text-decoration: none;
}

#blue-btn:hover {
    background-color: #3274df;
}

/* HEADER */
header {
    background-color: #B4D0E7;
}
/* Nav */
nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    background-color: white;
    padding-left: 1rem;
}

.nav-side ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-side a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    margin-right: 1.5rem;
    padding: 1.8rem 0;
    /* padding: 2rem; */
    /* border-bottom: 1px solid black; */
    height: 100%;
}

.nav-side a:hover {
    border-bottom: 2px solid black;

}
ul.left {
    justify-content: flex-start;
}

ul.right {
    justify-content: flex-end;
}

/* Hero */
.hero {
    width: 70%;
    margin: 0 auto;
}

.hero h1 {
    margin-top: 3rem;
}

.main-section {
    width: 100%;
    display: flex;
}

.hero-left {
    width: 30%;
    font-size: 15px;
    padding-bottom: 1rem;
}

.hero-left p {
    margin-bottom: 2rem;
}

.hero-left i {
    margin-top: 4rem;
    font-size: 35px;
}
.margin-top {
    margin-top: 2rem;
    display: block;
}

.hero-right {
    width: 70%;
    position: relative;
}

.hero-right img {
    max-width: 100%;
    position: absolute;
}
/* MAIN */
.container {
    width: 65%;
    margin: 8rem auto;
    /* Debug */
    min-height: 500px;
    /* background-color: green; */
}

/* Section-1 */
.section-1 {
    /* Debug */
    min-height: 750px;
    /* border: 2px solid black; */
}

.input {
    font-size: 15px;
}

input {
    margin-right: 0.3rem;
}

.right-input {
    margin-left: 0.5rem;
}

.plans {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin: 2rem auto;
    /* Debug */
    min-height: 250px;
}

.plans a {
    text-decoration: none;
 }

.plans ul {
    list-style-type: none;
}

.col-plan {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    /* Debug */
    min-height: 700px;
}

.title-plan {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    padding: 0.5rem;
}

.title-plan i {
    margin-right: 0.3rem;
}

.single-plan {
    padding: 1rem;
}

.single-plan h3 {
    margin-bottom: 1rem;
}

.single-plan p {
    margin-top: 0.5rem;
    font-size: 13px;
}

.single-plan li {
    margin-bottom: 0.7rem;
    font-size: 13px;
}

.price {
    font-weight: bold;
    font-size: 13px;
}

.grey {
    color: grey;
}

.details-plan {
    margin-top: 1.5rem;
}

.cta {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
}

.section-1 #blue-btn {
    font-size: 13px;
    width: 100%;
    padding: 0.5rem;
}

.cta p {
    margin-top: 1rem;
}

a.buy-now {
    color: blue;
    text-decoration: underline;
 }

.single-plan hr {
    margin-top: 2rem;
    width: 20%;
    color: grey;
}

.main-points {
    margin-top: 2rem;
}

.main-points i {
    color: blue;
}

.main-points-list {
    font-weight: bold;
}

.enterprise {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.bottom-enterprise {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.left-enterprise {
    width: 60%;
}

.left-enterprise h6 {
    margin-top: 1rem;
}

.left-enterprise p {
    font-size: 13px;
    margin-top: 2rem;
}
.right-enterprise {
    width: 40%;
    text-align: right;
}

.right-enterprise #blue-btn {
   padding-left: 1.5rem;
   padding-right: 1.5rem;
}
/* Section-2 */
.section-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.photo-sec-2 {
    width: 60%;
}

.photo-sec-2 img {
    max-width: 100%;
}
.find-partner {
    width: 40%;
    padding: 2rem;
}

.find-partner p {
    font-size: 13px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.white-btn {
    border: 1px solid black;
    padding: 0.2rem 0.8rem;
    text-decoration: none;
    color: black;
    font-size: 13px;
    background-color: white;
}

.white-btn:hover {
    color: rgb(49, 45, 45);
    border-color: rgb(49, 45, 45);
}
/* Section-3 */
.section-3 {
    margin-top: 5rem;
}

.section-3 h2 {
    margin-top: 6rem;
    margin-bottom: 1rem;
}

.row-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: 2rem auto;
}

.col-3 {
    width: calc(100% / 3 - 2rem);
}

.col-3 img {
    max-width: 100%;
    margin-bottom: 2rem;
}

.col-3 h3 {
    margin-bottom: 2rem;
}

.col-3 p {
    font-size: 13px;
}
/* Section-4 */
.section-4 {
    margin-top: 5rem;
}

.section-4 h2 {
    width: 60%;
}

.section-4 a {
color: blue;
}

/* Larger section */
.larger-section {
    width: 100%;
    background-color:#B4D0E7;
}

.companies {
    display: flex;
    width: 100%;
    height: calc(100vw / 3);
}

.side-companies {
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
}

.inner-companies {
    width: 50%;
    height: 50%;
}

.double-bg {
    padding: 0.7rem;
}

.inner-companies img {
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 3rem;
}

.designit {
    background-color: #D1E9CD;
}

.designit img{
    background-color:#A2D39B;
}

.asu {
    background-color: #61082B;
}

.florida {
    background-color: #0093CE;
}

.topps {
    background-color: #FF1C1C;
}

.wbc {
    background-color: #D5001F;
}

.hearts {
    background-color: #B4D0E7;
}

.lonely {
    background-color: #0D2481;
}

.clear {
    background-color: #FFD830;
}

.central-companies {
    width: calc(100% / 3);
    padding: 3rem;
    background-color: #F5F5F5;
    overflow-y: auto;
}

 .central-companies img {
    max-width: 50%;
 }

 .central-companies hr {
    width: 25%;
    margin-top: 2rem;
    margin-bottom: 2rem;
 }

 .central-companies p {
    margin-bottom: 2rem;
}

.free-trial {
    width: 65%;
    margin: 0 auto;
    padding: 4rem 0;
    display: flex;
    justify-content: space-between;
}

.amaranth {
    width: 50%;
    color: #610A11;
}

.trial-btn {
    height: 100%;
    border: none;
}

/* Faq */
.faq h2 {
    border-bottom: 1px solid black;
    padding-bottom: 3rem;
}

.question {
    border-bottom: 1px solid black;
    padding-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
}

.answer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid black;
    display: none;
}

.faq-1:hover .answer {
    display: inline-block;
}

.faq-1:hover i {
    transform: rotate(180deg);
}

.faq-2:hover .answer {
    display: inline-block;
}

.faq-2:hover i {
    transform: rotate(180deg);
}

.faq-3:hover .answer {
    display: inline-block;
}

.faq-3:hover i {
    transform: rotate(180deg);
}
/* Footer */
footer {
    background-color: black;
}

.footer {
    width: 75%;
    margin: 0 auto;
}

/* Footer-top */
.footer-top {
    padding: 5rem 0 ;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}


.footer-top ul {
    list-style-type: none;
}

.footer-top li {
    color: white;
    font-size: 15px;
    margin-bottom: 1rem;
}

#list-name {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 1.5rem;
}

.footer-list {
    width: calc(100% / 5 - 1rem) ;
}

hr.white {
    color: white;
    width: 12%;
}

/* Footer-bottom */
.footer-bottom {
    padding: 3rem 0;
}

.world {
        color:#999999;
        display: flex;
        align-items: center;
    }

.ita {
    font-size: 18px;
    margin-left: 0.4rem;
}

.language a {
    text-decoration: none;
    color: #999999;
    margin-left: 0.4rem;
}

.language {
    display: flex;
}