/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-weight: bold;
    margin-bottom: 2rem
}

/* HEADER */
header {
    background-color: #B4D0E7;
}
/* Nav */
nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    /* Debug */
    background-color: black;
}

.nav-left {
    width: 33%;
    /* Debug */
    height: 100%;
    background-color: yellow;
}

.nav-right {
        width: 33%;
        /* Debug */
        height: 100%;
        background-color: yellow;
}

/* Hero */
.hero {
    width: 75%;
    margin: 0 auto;
    /* Debug */
    height: 600px;    
    position: relative;
    border: 1px solid black;
}

.main-section {
    width: 100%;
    position: absolute;
    top: 3rem;
    /* Debug */
    height: 100%;
    background-color: gray;
    z-index: 5;
}

/* MAIN */
.container {
    width: 65%;
    margin: 6rem auto;
    /* Debug */
    min-height: 2000px;
    background-color: green;
}

/* Section-1 */
.section-1 {
    
    /* Debug */
    min-height: 750px;
    border: 2px solid black
}

.plan {
    /* Debug */
    background-color: gray;
    min-height: 250px;

}
.row-1 {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 2rem auto;
}

.col-1 {
    width: calc(100% / 3);
    /* Debug */
    min-height: 700px;
    background-color: gray;
}

.enterprise {
    /* Debug */
    background-color: gray;
    min-height: 250px;
}

/* Section-2 */
.section-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    /* Debug */
    min-height: 600px;
    border: 2px solid black;
}

.photo-sec-2 {
    width: 60%;
    /* Debug */
    background-color: lightblue;
    min-height: 400px;
}

.find-partner {
    width: 38%;
    /* Debug */
    background-color: lightblue;
    min-height: 400px;
}

/* Section-3 */
.section-3 {
    margin-top: 5rem;
    /* Debug */
    min-height: 600px;
    border: 2px solid black;
}

.row-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin: 2rem auto;
}

.col-3 {
    width: calc(100% / 3 - 1rem);
    /* Debug */
    min-height: 700px;
    background-color: gray;
}

/* Section-4 */
.section-4 {
    margin-top: 5rem;
        /* Debug */
        min-height: 200px;
        border: 2px solid black;
}

.section-4 h2 {
    width: 40%;
}